@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    line-height: 1;
}
header {
    width: 1767px;
    height: 126px;
    margin: 0 auto;
}
header .inner .top {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    
}
header .inner .top ul li {
    font-size: 12px;
    display: inline-block;
    margin-left: 20px;
}
header .inner .bottom {
    width: 100%;
    height: 71px;
    display: flex;
    margin-top: 30px;
    align-items: center;
}
header .inner .bottom nav {
    margin-left: 20px;
}
header .inner .bottom ul li {
    display: inline-block;
    margin: 0 20px;
}
header .inner .bottom div {
  margin-left: 690px;
  height: 40px;
}
.main_visual {
    width: 1767px;
    height: 948px;
    margin: 0 auto;
}
.best {
    width: 1277px;
    padding: 100px 0;
    margin: 0 auto;
}
.best h3 {
    font-size: 28px;
    margin-bottom: 20px;
}
.best p {
    font-size: 18px;
    color: #999;
    
}
.best .item {
    display: flex;
    justify-content: space-between;
}
.best .item img {
    width: 419px;
    height: 342px;
    overflow: hidden;
    margin-bottom: 25px;
}
.best .item h4 {
    font-size: 18px;
    margin-bottom: 15px;
}
.best .item h3 {
    font-size: 18px;
    margin-bottom: 18px;
}
.best .item ul li {
    font-size: 15px;
    color: #999;
}
.timesale {
    width: 100%;
    height: 600px;
    background-color: #fafafa;
}
.timesale .top {
    width: 1145px;
    padding: 100px 0 20px 1295px;
}
.timesale .top ul li {
    border-radius: 15px;
    background-color: #ec1a3b;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
}
.timesale .bottom {
    width: 1145px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.timesale .bottom .cont01 h3 {
    font-size: 28px;
    margin-bottom: 20px;
}
.timesale .bottom .cont01 h4 {
    font-size: 18px;
    color: #999;
    margin-bottom: 60px;
}

.timesale .bottom .cont01 p {
    font-size: 18px;
    color: #999;
    font-weight: bold;
    display: inline-block;
}
.timesale .bottom .cont01 ul {
    display: inline-block;
}
.timesale .bottom .cont01 ul li {
    border-radius: 19px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 10px 20px;
}
.timesale .bottom .cont01 span {
    font-size: 65px;
    display: block;
}

.timesale .bottom .cont03 h3 {
    font-size: 26px;
    color: #111;
    margin-bottom: 50px;
}
.timesale .bottom .cont03 div {
    display:flex;  
    margin-bottom: 40px;
}
.timesale .bottom .cont03 div h4 {
    font-size: 26px;
    color: #ec1a3b;
    margin-right: 10px;
}
.timesale .bottom .cont03 div p {
    font-size: 15px;
    color: #999;
    text-decoration: line-through;
    line-height: 26px;
    margin-right: 10px;
}
.timesale .bottom .cont03 div span {
    font-size: 26px;
    font-weight: bold;
}
.timesale .bottom .cont03 img {
    width: 68px;
    height: 68px;
}

